nav.white{
	padding-left: 1em;
}

nav.white a{
	color: #448aff;
}


nav.white ul{
	color: #448aff;
}

nav.white ul li{
	color: #448aff;
}


nav.white ul li a{
	color: #448aff;
}

